<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <servlet>
  <description></description>
  <display-name>ExcelUploadServlet</display-name>
  <servlet-name>ExcelUpload</servlet-name>
  <servlet-class>com.popo.servlet.Excelservlet</servlet-class>
  </servlet>
  <servlet>
  <description></description>
  <display-name>ImportExcelServlet</display-name>
  <servlet-name>ExcelImport</servlet-name>
  <servlet-class>com.popo.servlet.ImportExcelServlet</servlet-class>
  </servlet>
  <servlet>
  <description></description>
  <display-name>UploadServlet</display-name>
  <servlet-name>Upload</servlet-name>
  <servlet-class>com.popo.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ExcelUpload</servlet-name>
  <url-pattern>/ExcelUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>ExcelImport</servlet-name>
  <url-pattern>/ExcelImport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>Upload</servlet-name>
  <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
</web-app>
